@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin:0px;
    padding: 0px;
    box-sizing:border-box ;
    font-family:'poppins', sans-serif ;
}
.section{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.30), rgba(0,0,0,0.30)), url('https://i.pinimg.com/1200x/34/af/66/34af66c5eb1f006f9cd067eef749433e.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover ;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    position:relative;
}
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:25px  100px;
    position:relative;
}
.navbar .logo{
    color:#f39a5b;
    text-transform: uppercase;
    letter-spacing:1.5px ;
    font-size: 25px;
    position:relative;
}
.navbar .menu{
    display: flex;
    justify-content: center;
    align-items:center ;
}
.navbar .menu ul{
    display: flex;
    list-style: none;
}
.navbar .menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color:#fff;
    padding: 0px 20px;
    font-size: 20px;
}
.navbar .menu ul li a:hover{
    color:#ed7218;
    transition:0.5s ease;
}
label{
    display:none;
    font-size: 25px;
    cursor: pointer;
    color:#fff;
}
label:hover{
    color:#ed7218;
}
#check{
    z-index:3;
}
.content{
    margin:100px 100px;

}
.content .article{
    max-width: 500px;
}
.content .article h1{
    font-size: 40px;
    font-weight: 800;
    color:#fff;
    letter-spacing: 2.5px;
    text-transform: uppercase;
}
.content .article h2{
    color:#fdae37;
    margin:20px 0px;
    font-family:'poppins', sans-serif ;
    font-size: 28px;
    line-height:1.5 ;

}
span{
    color:#fdae37;
}
.content .article p{
    color:#fff;
    margin:20px 0px;
    font-family:'poppins', sans-serif ;
    font-size: 30px;
    line-height:1.5 ;
}
.content .article a{
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 15px;
    display: inline-block;
    padding:10px 40px;
    background-color:#ed7218;
    color:#fff;
    letter-spacing: 1.5px;

}
.content .article a:hover{
    background-color: #fff;
    color:#ed7218;
    transition:0.5s ease;
}
.content .social i{
    color:#fff;
    padding:0px 10px;
    font-size: 25px;
}
.content .social i:hover{
    color:#ed7218;
    transition:1.5s ease;
}
.content .social{
    margin-top:30px;
    margin-left: 25px;
}
@media screen and (max-width:992px){
    .navbar .menu{
        display:none;
    }
    label{
        display:block;
    }
    label .close-btn{
        display:none;
    }
    #check:checked ~ .navbar .menu{
        z-index:2;
        position:fixed;
        top:0;
        left:0;
        bottom:0;
        right:0;
        display:flex;
        justify-content: center;
        background-color:#404c61;
        text-align: center;

    }
    .navbar .menu ul{
        flex-direction: column;
    }
    .navbar .menu ul li{
        padding:20px 0px;

    }
    .navbar .menu ul li a{
        font-weight:500 ;
    }
    #check:checked ~ .navbar label .menu-btn{
        display:none;

    }
    #check:checked ~ .navbar label .close-btn{
        display:block;
        z-index:2;
        position:fixed;
    }
    label .menu-btn{
        position:absolute;

    }
    .navbar .logo{
        bottom:-12px;
    }
    .content .article h1{
        font-size: 35px;

    }
    .content .article a{
        font-size: 18px;
        padding:8px 30px;
    }
    .content .social i{
        font-size: 22px;

    }
    .content .social{
        margin-left: 10px;
    }

    
}
